.content{
    padding:30px;
}

.table{
    width:30%
}

.table-mobile{
    width:100%
}

.nav-link{
    color: inherit; 
    text-decoration: none;
    cursor:pointer;
    &:hover{
        background-color: rgb(243, 243, 243);
    }
}