<div
  class="content"
  fxLayout="column"
  fxLayoutGap="20px"
  fxLayoutAlign="center center"
>
  <mat-card class="details" [ngClass.lt-md]="'details-mobile'">
    <h2>Aufgabendetails</h2>
    <div>{{ task.name }} - {{ task.clock}}</div>
  </mat-card>

  <mat-card class="assigned" [ngClass.lt-md]="'assigned-mobile'">
    <h2>Zugeteilte Personen</h2>

    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let person of persons"
        [routerLink]="['/persons', person.id, 'details']"
      >
        {{ person.name }} {{ person.surname }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
</div>
